@{
    ViewBag.Title = "FutSoft7";
}
<h2>@ViewBag.Title</h2>


<p class="text-justify"> 
    El objetivo de el Software FutSoft7 es automatizar y agilizar la programación de juegos, 
    la generación de actas de juego y la generación de grupos y estadísticas. Además, 
    permite llevar un control sobre los ingresos/pagos de los equipos para poder generar reportes de adeudos
     y llevar un control sobre la venta de productos como uniformes, balones, etc (control básico de inventarios).

    Tanto el calendario de juegos, las estadísticas y hasta los estados de cuenta de los equipos se pueden enviar
     por correo electrónico y publicar en la página de Internet de su cancha. Esto significa que sus equipos tendrán 
    las estadísticas actualizadas al instante. 
</p>

<div class="container-fluid center-block text-center">
    <table class="table-condensed">
        <tr>
            <th><strong>Nombre Jugador</strong></th>
            <th><strong>Equipo</strong></th>
            <th><strong>Liga</strong></th>
        </tr>

        <tr>
            <td>Mike Mancera</td>
            <td>Real Madrid</td>
            <td>Premier League</td>
        </tr>

        <tr>
            <td>Rulo Avalos</td>
            <td>Barca</td>
            <td>LPF Primera</td>
        </tr>

        <tr>
            <td>Betin Balderas</td>
            <td>America CF</td>
            <td>Liga MX</td>
        </tr>
    </table>

</div>